.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;

    table {
        th {
            background-color: #000;
            color: #FFF;
        }
        tr:nth-child(2n) {
            background-color: #777; 
        }
        background-color: #AAA;
    }
}

th {
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

td {
    text-align: left;
    min-width: 100px;
    padding: 10px;
    vertical-align: top;
}